body {
    padding: 2%;
}



/* CHIESE */
.chiesa {
    padding: 2%;
    margin: 1%;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #1852da;
    color: #f4c007;
    display:flex;
}

.chiesa_name {
    border: 1px solid black;    
    height: 100%;
}

.chiesa_map_icon {
    margin-left: 5%;
    height: 50px;
    border: 1px solid black;
}



/* MESSE */
.messa {
    padding: 2%;
    margin: 1%;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #f4c007;
    color: #1852da;
}
.messa_KO {
    padding: 2%;
    margin: 1%;
    border-radius: 25px;
    border: 1px solid black;
    background-color: coral;
    color: black;
}

.messa_riga {
    height: 70px;
    position: relative;
    display:flex;
    margin: 10px;
}

.messa_orario {
    display: flex;
    padding: 2%;
    margin: 1%, 0%, 1%, 0%;
    border-radius: 25px 0px 0px 25px;
    /* border: 1px solid black; */
    width: 25%;
    align-items: center;
    color: #f4c007;
    background-color: #1852da;
    justify-content: center;
}
.altezza{
    height: 100px!important;
}
.messa_chiesa {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 1%, 0%, 1%, 0%;
    border-radius: 0px 25px 25px 0px;
    border: 1px solid black;
    width: 80%;
    align-items: center;
    color: #1852da;
    background-color: #f4c007;
}

.site_label {
    margin-right: 1%;
}

.site_button {
    padding: 5%;
    font-weight: bold;
    font-size: larger;
    margin: 1%;
    border-radius: 25px;
    border: 1px solid black;
    align-items: center;
    color: #f4c007;
    background-color: #1852da;
    justify-content: center;
}